<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="js/jquery/2.0.0/jquery.min.js"></script>
    <link href="css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap/3.3.6/bootstrap.min.js"></script>
    <script src="js/vue/2.5.16/vue.min.js"></script>
    <script src="js/axios/0.17.1/axios.min.js"></script>
    <script src="js/moment/2.22.2/moment.js"></script>
    <link href="css/fore/style.css" rel="stylesheet">
    <title>所有事业部年度报表</title>
</head>
<body style="background-color: #77cbd8">
<script>
$(function (){
    var myDate = new Date();
    var tYear = myDate.getFullYear();
    $.ajax({
        type:"post",
        url:"allBussinessGetTime",
        async:false,
        success:function (data) {
            $("#recordTime").html("");
            for(var i = 0 ; i < data.length ; i++){
                var year = data[i].split("_")[0];
                if(tYear == year){
                    $("#recordTime").append("<option selected>"+year+"</option>");
                }else{
                    $("#recordTime").append("<option>"+year+"</option>");
                }
            }

        }

    })
    loadAllBussiness();
    showAnnualData();
    getAnnualTotal();
    getAnnualRank();
})
    function loadAllBussiness() {
        $.ajax({
            type:"post",
            url:"getAllBussiness",
            async:false,
            success:function(data){
                $("#bussinessList").html("");
                for(var i = 0 ; i < data.length ; i++){
                    $("#bussinessList").append(
                        "<tr>"+'<td style="width: 100px;height:330px;font-size: 18px;">'+data[i].bussiness+"</td>"+"</tr>"
                    );

                }
                var no = data.length;
                loadAllDept(no);
            }
        })
    }
    function loadAllDept(no) {
        $.ajax({
            type:"post",
            url:"getAllDept",
            async:false,
            success:function(data){
                $("#deptList").html("");
                for(var i = 0 ; i < no ; i++){
                    for(var j = 0 ; j < data.length ; j++){
                        $("#deptList").append(
                            "<tr>"+'<td style="width: 100px;height:30px;font-size: 18px;">'+"集团"+data[j]+"</td>"+"</tr>"
                        );
                    }
                    $("#deptList").append(
                        "<tr>"+'<td style="width: 100px;height:30px;font-size: 18px;">'+"总分"+"</td>"+"</tr>"
                    );
                }
            }
        })
    }
    function showAnnualData() {
        var year = document.getElementById("recordTime").value;
        $.ajax({
            type:"post",
            data:{"year":year},
            url:"showAnnualData",
            async:false,
            success:function(data){
                for(var i = 0 ; i < data.length ; i++){
                    var deptData = data[i];
                    var show = "";
                    for(var j = 0 ; j < deptData.length ; j++){
                        if(j == 0){
                            show = show+"<tr>"+'<td style="width:50px;height:30px;font-size: 18px;">'+deptData[j]+"</td>";
                        }else if(j == deptData.length-1 ){
                            show = show+'<td style="width:50px;height:30px;font-size: 18px;">'+deptData[j]+"</td>"+"</tr>";
                        }else{
                            show = show+'<td style="width:50px;height:30px;font-size: 18px;">'+deptData[j]+"</td>";
                        }
                    }
                    $("#allData").append(show);
                }
            }
        })
    }
    function getAnnualTotal() {

        // var tb=document.getElementById("totalScore");    //获取table对像
        // var rows = tb.rows;
        // var arr = [];
        // for (var i = 0; i < rows.length; i++) {    //--循环所有的行
        //     var cells = rows[i].cells;
        //     var total = 0;　// cells 集合返回表格中所有 <td> 或 <th> 元素。
        //     for (var j = 0; j < cells.length; j++) {   //--循环所有的列，从第一列取数据，因为一般第一列都是标识，数据毫无意义。
        //         var sonValue = cells[j].innerText;
        //         total += parseFloat(sonValue);
        //     }
        //     arr.push(total);
        // }

        var tab = document.getElementById("allData");
        var rows = tab.rows;
        var arr =[];
        for(var i=10 ;  i < rows.length ; i=i+11){
            var cells = rows[i].cells;
            var total = 0;
            for(var j = 0 ; j < cells.length ; j++){
                var sonValue = cells[j].innerText;
                total += parseFloat(sonValue);
            }
            arr.push(total);
        }
        $("#annualTotalScore").html("");
        for(var i = 0 ; i < arr.length ; i++){
            $("#annualTotalScore").append("<tr>"+'<td style="width:100px;height: 330px;font-size: 18px">'+arr[i]+"</td>"+"</tr>");
        }
    }

    function getAnnualRank() {
        var tb=document.getElementById("annualTotalScore");    //获取table对像
        var rows = tb.rows;
        var arr = [];
        for (var i = 0; i < rows.length; i++) {    //--循环所有的行
            var cells = rows[i].cells;
            var total = 0;　// cells 集合返回表格中所有 <td> 或 <th> 元素。
            //--循环所有的列，从第一列取数据，因为一般第一列都是标识，数据毫无意义。
            var sonValue = cells[0].innerText;
            total += parseFloat(sonValue);

            arr.push(total);
        }
        $.ajax({
            type:"post",
            data:{"totals":arr},
            url:"getRank",
            async:false,
            success:function (data) {
                $("#annualRank").html("");
                for(var i = 0 ; i < data.length ; i++){
                    $("#annualRank").append("<tr>"+'<td style="width: 100px;font-size: 18px;height: 330px;">'+data[i]+"</td>"+"</tr>");
                }
            }
        })
    }
</script>
<div style="margin-top: 1%;margin-left: 80%;font-size: 18px;">
    选择时间:<select id="recordTime" class="btn dropdown-toggle" style="width:150px;height:30px;" onchange=""></select>
</div>
<h1 style="margin-left: 22%;">集团职能部门对各事业部的KPI考核年度报表</h1>
<div style="position: relative;display: block;margin-left: 11%;">
    <div  style="float: left;display:block;position: absolute;" >
        <table border="1px;" style="background-color: #CCCCDD">
            <tr>
                <td style="width: 200px;height:30px;font-size: 18px">时间</td>
                <td style="width: 50px;height:30px;font-size: 18px">1月</td>
                <td style="width: 50px;height:30px;font-size: 18px">2月</td>
                <td style="width: 50px;height:30px;font-size: 18px">3月</td>
                <td style="width: 50px;height:30px;font-size: 18px">4月</td>
                <td style="width: 50px;height:30px;font-size: 18px">5月</td>
                <td style="width: 50px;height:30px;font-size: 18px">6月</td>
                <td style="width: 50px;height:30px;font-size: 18px">7月</td>
                <td style="width: 50px;height:30px;font-size: 18px">8月</td>
                <td style="width: 50px;height:30px;font-size: 18px">9月</td>
                <td style="width: 50px;height:30px;font-size: 18px">10月</td>
                <td style="width: 50px;height:30px;font-size: 18px">11月</td>
                <td style="width: 50px;height:30px;font-size: 18px">12月</td>
            </tr>
        </table>
    </div>
    <div style="float: left;margin-top: 30px;display:block;position: absolute;">
        <table id="bussinessList" border="1px;" style="background-color: #CCCCDD">

        </table>
    </div>
    <div style="float: left;margin-top: 30px;margin-left: 100px;display:block;position: absolute;">
        <table id="deptList" border="1px;" style="background-color: #CCCCDD">

        </table>
    </div>
    <div style="float: left;display:block;position: absolute;margin-left: 200px;margin-top: 30px;">
        <table id="allData" border="1px;" style="background-color: #CCCCDD"></table>
    </div>
    <div style="position: absolute; float: left;margin-left: 800px;">
        <table border="1px;" style="background-color: #CCCCDD">
            <thead>
                <tr>
                    <td style="width: 100px;height:30px;font-size: 18px">年度总得分</td>
                </tr>
            </thead>
            <tbody id="annualTotalScore">

            </tbody>
        </table>
    </div>
    <div style="position: absolute; float: left;margin-left: 900px;">
        <table border="1px;" style="background-color: #CCCCDD">
            <thead>
            <tr>
                <td style="width: 100px;height:30px;font-size: 18px">年度总排名</td>
            </tr>
            </thead>
            <tbody id="annualRank">

            </tbody>
        </table>
    </div>
</div>
</body>
</html>